{% extends "main/layout.html" %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'genmath/styles.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'precal/styles.css' %}" type="text/css">
{% endblock %}

{% block title %}
    Pre-Calculus - CheckMath
{% endblock %}

{% block body %}
    <div class="pagehead">
        <h6 class="subject">Pre-Calculus</h6>
        Select a topic:
    </div>
    <div class="col-12 choices">
        <div>Circle</div>
        <a href="{% url 'precal:cstdform' %}" class="btn btn-primary">Standard Form</a>
        <a href="{% url 'genmath:foperations' %}" class="btn btn-primary">General Form</a>
        <a href="{% url 'genmath:fcomposite' %}" class="btn btn-primary">Graphing</a>
        <div class="topics">Parabola</div>
        <a href="{% url 'genmath:fevaluation' %}" class="btn btn-primary">Finding Roots</a>
        <a href="{% url 'genmath:fcomposite' %}" class="btn btn-primary">Graphing</a>
        <div style="color: rgb(168, 169, 170);">
            <br>
            <br>
            Other topics are coming soon!
        </div>
        <!-- <a href="" class="btn btn-primary">Topic</a>
        <a href="" class="btn btn-primary">Topic</a>
        <a href="" class="btn btn-primary">Topic</a> -->
    </div>
    




{% endblock %}