{% extends "main/layout.html" %}
{% load static %}
{% block title %}
    CheckMath
{% endblock %}

{% block body %}
    
    <div class="pagehead">
        Select a subject:
    </div>

    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            <div class="card h-100">
                <img src="{% static 'main/img/genmath.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <button type="button" onclick="location.href='{% url 'genmath:index' %}';" class="btn btn-outline-primary">General Mathematics</button>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="{% static 'main/img/precal.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <button type="button" onclick="location.href='{% url 'precal:index' %}';" class="btn btn-outline-primary">Pre-Calculus</button>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="{% static 'main/img/basiccal.jpg' %}" class="card-img-top blurred" alt="...">
                <div class="card-body">
                    <button type="button" class="btn btn-outline-primary disabled">Basic Calculus</button>
                    <span class="badge rounded-pill bg-secondary comingsoon">Coming Soon</span>
                </div>
            </div>
        </div>
    </div>


    <!-- <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-12">
                <button type="button" class="btn btn-outline-primary">General Mathematics</button>
            </div>
            <div class="col-lg-4 col-md-6 col-12">
                <button type="button" class="btn btn-outline-primary">Pre-Calculus</button>
            </div>
            <div class="col-lg-4 col-md-6 col-12">
                <button type="button" class="btn btn-outline-primary">Basic Calculus</button>
            </div>
        </div>
    </div> -->

{% endblock %}