{% extends "main/layout.html" %}
{% load static %}
{% block title %}
    CheckMath
{% endblock %}

{% block body %}
    <div class="pagehead">
        Select a subject:
    </div>

    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            <div class="card h-100">
                <img src="{% static 'main/img/genmath.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <button type="button" onclick="location.href='{% url 'genmath:index' %}';" class="btn btn-outline-primary">General Mathematics</button>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="{% static 'main/img/precal.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <button type="button" onclick="location.href='{% url 'precal:index' %}';" class="btn btn-outline-primary">Pre-Calculus</button>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="{% static 'main/img/basiccal.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <button type="button" onclick="location.href='{% url 'bscal:index' %}';" class="btn btn-outline-primary">Basic Calculus</button>
                </div>
            </div>
        </div>
    </div>

    <div class="py-2">
        <div class="modal" id="myModal">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header" style="justify-content: center;">
                        <h5 class="modal-title" style="color: rgb(197, 5, 5);">Disclaimer!</h5>
                        <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
                    </div>
                    <div class="modal-body" style="text-align: center;">
                        <p>
                            This website doesn't encourage any forms of academic dishonesty. <br><br>
                            Use at your own risk.
                        </p>
                    </div>
                    <div class="modal-footer" style="justify-content: center;">
                        <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> -->
                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Accept</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script type="text/javascript">
        var myModal = new bootstrap.Modal(document.getElementById('myModal'), {})
        myModal.toggle()
    </script>
{% endblock %}