
.topics {
    margin-top: 20px;
}

.form {
    margin-top: 20px;
}

.centerinput {
    align-self: center;
    text-align: center;
}

.centercoord {
    text-align: center;
    width: 8%;
}

.radius {
    text-align: center;
    width: 12%;
}