
.topics {
    margin-top: 30px;
}

.form {
    margin-top: 20px;
}

.centerinput {
    align-self: center;
    text-align: center;
}

.centercoord {
    text-align: center;
    width: 8%;
}

.radius {
    text-align: center;
    width: 12%;
}



/* Basic Calculus */

#value-c {
    margin: 0;

    height: 20px;
    width: 20px !important;
}
