body {
    background-color: rgb(232, 241, 250);
    font-family: monospace;
}

nav, #navbar {
    padding: 1rem 0.5rem;
    background-color: rgb(220, 232, 245);
}

#checkmath {
    color: #7c3aed;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 900;
    font-size: 2rem;
    line-height: 1;
    padding-left: 1rem;
}

.nav-item {
    padding: 0 25px;
}

.nav-link:hover {
    color: #60a5fa !important;
    font-weight: 700;
    transition: 0.5s ease-out;
}

#active-nav {
    color: #7c3aed;
}

.dropdown-menu {
    background-color: #60a5fa;
    margin-top: 1rem !important;
    left: unset !important;
}

.pagehead {
    text-align: center;
    color: #60a5fa;
    font-size: 1.5rem;
    padding: 2rem 0;
}

.row > .col {
    padding: 20px 80px 0 80px !important;
}

.col {
    display: flex;
    justify-content: center;
}

.card {
    width: 300px;
}

.card-body {
    background-color: rgb(232, 241, 250);
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.btn {
    width: 209.031px;
}

.blurred {
    filter: blur(4px);
}

.comingsoon {
    margin-top: 10px;
}

.comingsoon:hover, .blurred:hover {
    cursor: not-allowed !important;
}


/* Contact Page */

.contact-form {
    padding: 20px 15vw 0;
}

@media screen and (max-width: 700px) {
    .contact-form {
        padding: 20px 5vw 0;
    }
}

.emailname input {
    text-align: center;
}

.space {
    display: block;
    width: 10px;
}

.message {
    margin-top: 40px;
}

.submit-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}


/* .row > div {
    height: calc(100vh - 300px);
    line-height: calc(100vh - 300px);
    text-align: center;
    vertical-align: middle;
}

@media screen and (max-width: 720px) {
    .row > div {
        height: calc(100vh - 400px);
        line-height: calc(100vh - 400px);
    }
} */