{% extends "main/layout.html" %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'genmath/styles.css' %}" type="text/css">
    <script src="{% static 'genmath/script.js' %}" type="text/javascript"></script>

    <!-- MathQuill -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mathquill/0.10.1/mathquill.css" integrity="sha512-vPg9GqsZZ4LHv9BkFfZSXt7y4D7YaARPU2JFmpZug4EgtJJrumytMAFZkNSk2LSyqWir0TNbh2tBq7UJIMxvlA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mathquill/0.10.1/mathquill.js" integrity="sha512-7jEhcM7FbjGHo1ejs1iw1J8FxcnACx7Z3lG29gQ5vTBe2U/gaQpzwjzPCyg32zTwXCloQDdorpLufmu0nBIqnQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{% endblock %}

{% block title %}
    Evaluation of Functions - CheckMath
{% endblock %}

{% block body %}
    <nav aria-label="breadcrumb" class="notnav">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item"><a href="/genmath">General Mathematics</a></li>
            <li class="breadcrumb-item active" aria-current="page">Evaluation of Functions</li>
        </ol>
    </nav>

    <div class="pagehead">
        <h6 class="subject">General Mathematics</h6>
        Evaluation of Functions
    </div>
    
    <div class="container">
        <form action="" method="POST" class="form" id="form">
            {% csrf_token %}
            <div class="form-floating">
                <input type="text" class="form-control" id="functioninput" placeholder="Function" name="function" value="x^2 + 6x + 9" autocomplete="off">
                <label for="functioninput">Enter Function</label>
            </div>
            <div id="math-display">x^2 + 6x + 9</div>
            <div class="variableinputs">
                <div class="input-group mb-3 variableinput variable-x">
                    <span class="input-group-text">x =</span>
                    <input type="text" class="form-control vinput" value="4" placeholder="Enter value of 'x'" name="variable-x" autocomplete="off">
                </div>
            </div>
            <input type="submit" class="btn btn-primary" value="Solve"">
        </form>
        <!-- <form class="form-floating">
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">f(<input type="text" style="width: 20px;">) =</span>
                <input type="text" class="form-control" id="floatingInputValue" placeholder="name@example.com" aria-describedby="basic-addon1">
                <label for="floatingInputValue">Input with value</label>
            </div>
        </form> -->
    </div>

{% endblock %}