{% extends "main/layout.html" %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'genmath/styles.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'precal/styles.css' %}" type="text/css">
    <script src="{% static 'genmath/script-foperations.js' %}" type="text/javascript"></script>

    <!-- Desmos -->
    <script src="https://www.desmos.com/api/v1.6/calculator.js?apiKey=dcb31709b452b1cf9dc26972add0fda6"></script>


    <!-- MathQuill -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mathquill/0.10.1/mathquill.css" integrity="sha512-vPg9GqsZZ4LHv9BkFfZSXt7y4D7YaARPU2JFmpZug4EgtJJrumytMAFZkNSk2LSyqWir0TNbh2tBq7UJIMxvlA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mathquill/0.10.1/mathquill.js" integrity="sha512-7jEhcM7FbjGHo1ejs1iw1J8FxcnACx7Z3lG29gQ5vTBe2U/gaQpzwjzPCyg32zTwXCloQDdorpLufmu0nBIqnQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{% endblock %}

{% block title %}
    Differentiation - CheckMath
{% endblock %}

{% block body %}
    <nav aria-label="breadcrumb" class="notnav">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item"><a href="/bscal">Basic Calculus</a></li>
            <li class="breadcrumb-item active" aria-current="page">Differentiation</li>
        </ol>
    </nav>
    <div class="content-body">
        <div class="card-container">
            <div class="card text-dark mb-3" style="max-width: 18rem;">
                <div class="card-header">Take note</div>
                <div class="card-body">
                    <p class="card-text">
                        Use '()' for 2 or more digit exponents. <br>
                        <span class="math-text">
                            x^2a = <span class="math-disp">x^2a</span><br>
                            x^(2a) = <span class="math-disp">x^2^a</span>
                        </span>
                    </p>
                    <p class="card-text">
                        Use '()' for grouping. <br>
                        <span class="math-text">
                            4x - 2 / 2x + 8 <br>= <span class="math-disp">4x -\frac{2}{2x} + 8</span><br>
                            (4x - 2) / (2x + 8) <br>= <span class="math-disp">\frac{4x - 2}{2x + 8}</span>
                        </span>
                    </p>
                    <p class="card-text">
                        Use 'sqrt()' for square root.<br>
                        Leave the variables 's', 'q', 'r', 't' empty <br>
                        <span class="math-text">
                            5x + sqrt(x) = <span class="math-disp">5x + \sqrt x</span>
                        </span>
                    </p>
                    <p class="card-text">
                        Use 'Abs()' for square root (uppercase 'A').<br>
                        Leave the variables 'A', 'b', 's' empty <br>
                        <span class="math-text">
                            9 / Abs(-3) = <span class="math-disp">\frac{9}{|-3|}</span>
                        </span>
                    </p>
                    <h6 class="card-title">Need more help or having issues? <a href=""><span class="math-text">Click here!</span></a></h6>
                </div>
            </div>
        </div>
        <div class="content-body2">
            <div class="pagehead">
                <h6 class="subject">Basic Calculus</h6>
                Limits
                <div style="font-size: 0.7rem;">Input your function in terms of 'x'</div>
            </div>
            <div class="container">
                <form action="" method="POST" class="form" id="form" style="width: 90%;">
                    {% csrf_token %}
                    <div class="input-group mb-3 variableinput variable-x">
                        <span class="input-group-text">f(x) = </span>
                        <input type="text" class="form-control vinput" value="{{ function }}" placeholder="Enter function" name="function" autocomplete="off">
                    </div>
                    <div><br></div>
                    <div style="text-align: center;">
                        Differentiate <input type="text" name="nth" value="{{ nth }}" class="small-input"> times
                    </div>
                    <div><br></div>
                    <input type="submit" class="btn btn-primary" value="Solve"">
                    <div><br><br></div>
                </form>
            </div>
            <div><br></div>
        </div>
        <div class="card-container">
            <div class="card text-dark mb-3 card-right" style="max-width: 18rem;">
                <div class="card-header">Answer</div>
                <div class="card-body sample-eqs">
                    
                    {% if answer == "Nope" %}
                        <div class="answer">
                            <h6>Hmmm... Invalid input!</h6>
                            <h6>If your input is valid for you, <a href=""><span class="math-text">click here!</span></a></h6>
                        </div>
                    {% elif answer %}
                        <div class="answer">
                            <h5><span class="math-disp">{{ answer }}</span></h5>
                        </div>
                    {% else %}
                        Click solve
                    {% endif %}
                </div>
            </div>

        </div>
    </div>



{% endblock %}